* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
    /* background-color: #6a6a6a; */
}

input {
    padding: 1% 3%;
    font-size: 2rem;
}

p {
    margin: 2% 0;
    font-size: 2rem;
}